.stepper-container {
  color: #4f5f30 !important;
}

.available-step .MuiStepLabel-iconContainer .MuiSvgIcon-root {
  color: #4f5f30 !important;
}

.stepper-container .MuiStepLabel-iconContainer .Mui-active {
  color: #77b400 !important;
}

.stepper-container .MuiStepLabel-iconContainer .Mui-completed {
  color: #77b400 !important;
}

.steps-label {
  color: red !important;
}
