.stepper-container {
    overflow: auto;
    color: #4f5f30 !important;
}


.stepper-container .MuiStepLabel-iconContainer .Mui-active {
    color: #4f5f30 !important;
}

.stepper-container .MuiStepLabel-iconContainer .Mui-completed {
    color: #77b400 !important;
}
