.home-container {
  background-color: #fffff2;
}
.dst-alt-text {
  color: #d84727;
}
.dst-divider-color {
  color: #c4c4c4;
}

/* dst image */

.dst-neccc-logo img {
  height: 75px;

}
.dst-mccc-logo img {
  height: 75px;

}
.dst-psa-logo img {
  height: 75px;


}

