.home-container {
    background-color: #FFFFF2;
}
.dst-alt-text {
    color: #D84727;
}
.dst-divider-color {
    color: #c4c4c4;
}

/* dst image */

.dst-neccc-logo img {
    width: 167px;
    height: 180px;
    margin: 59px 0px;
}
