.home-container {
  background-color: #fffff2;
}
.dst-alt-text {
  color: #d84727;
}
.dst-divider-color {
  color: #c4c4c4;
}

/* dst image */

.dst-neccc-logo img {
  width: 167px;
  height: 180px;
  margin: 59px 0px;
}
.dst-mccc-logo img {
  width: 200px;
  margin: 59px 0px;
}
.import-button {
  margin-top: 79px;
}
.header-container {
  margin-top: 25px !important;
}

.home-import-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    padding: 32px;

}