// temp color vars
$primary-main: #4f5f30;
$primary-light: #fffff2;
$primary-dark: #eff1e0;
$primary-text: #4f5f30;

// div[class*="_infobar_"] {
//   /* hide the info bar(currently have overflow issue) */
//   display: none;
// }
