// temp color vars
$primary-main: #4f5f30;
$primary-light: #fffff2;
$primary-dark: #eff1e0;
$primary-text: #4f5f30;

div[class*="map_infobar__"] {
  /* hide the info bar(currently have overflow issue) */
  display: none;
}

.accordian-container {
  width: 100%;

  .accordian-summary {
    background-color: $primary-dark;
    height: 3rem;
    p {
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 600;
      text-align: justify;
      color: $primary-text;
    }
  }
  .accordian-details {
    color: $primary-text;
    padding: 1rem 0;
    background-color: #fffff2;
  }
}

.step-header {
  padding: 16px;
  background: #e5e7d5;
  margin: 1rem 0px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  text-align: justify !important;
  color: #4f5f30 !important;
}

.math-icon {
  margin-top: 15px !important;
  font-weight: 600 !important;
}
