.site-condition-container h3 {
    margin-bottom: 20px;
}
.site-condition-container {
    padding: 15px 13% !important;
}
site-condition-header {
    color: #4f5f30 !important;
    margin-bottom: 45px;
    margin-top: 25px;
    margin-bottom: 30px;
}