.site-condition-container h3 {
    margin-bottom: 20px;
}
.site-condition-container {
    padding: 15px 13% !important;
}
site-condition-header {
    color: #4f5f30 !important;
    margin-bottom: 45px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.selected-seeds-box {
    width: 100%;
    height: 100%;
    padding: 1px;
    background-color:#E5E7D5 ;
    border: #C7C7C7 solid 1px;
}
.selected-seeds-container {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
}
.selected-seeds-item {
    padding: 0px 15px;
}
.panel-img {
    border-radius: 25px;
    width: 100%;
    height: 190px !important;
}
.panel-img-sm {
    border-radius: 25px;
    width: 100%;
    height: 80px !important;
}
.left-panel-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}
.left-panel-img-xs {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 12px;   
}
.left-panel-img-sm {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    margin-top: 12px;
}
.left-panel-img-md {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-top: 12px;
}

.left-panel-text {
    font-size: 12px !important;
}
.img-text:hover {
    cursor: pointer;
}
.panel-img:hover {
    cursor: pointer;
}
.accordian-container {
    width: 100%;
}
.accordian-header {
    background-color: #EFF1E1 !important;
    color: #4F5F30 !important;
    font-weight: bold !important;
}
.accordian-header p {
    font-weight: 550 !important;
}
.MuiAccordionSummary-root {
    background-color: #EFF1E1 !important;
    color: #4F5F30 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: justify !important;
    color: #4f5f30 !important;
}
.MuiAccordionSummary-root p {
    font-weight: bold !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-align: justify !important;
    color: #4f5f30 !important;
}
.progress-bar {
    width: 80%;
    height: 10px;
    background-color: white;
    border: #E5E5E5 1px solid;
    margin-top: 15px;
    margin-bottom: 4px;
    border-radius: 20px;
}
.progress-bar-item {
    height: 10px;
    border-radius: 20px;
    background-color: #5992E6;
}
.progress-bar-text {
    font-size: 12px !important;
    color: #8D9774;
}

.mix-ratio-chart-container {
    text-align: justify;
    margin: 0 auto;
}
.mix-ratio-chart-header {
    font-weight: 600;
    text-align: center
}
.mix-ratio-chart-list-50 {
    margin: 0 auto !important;
    width: 50% !important;
    margin-top: 34px !important;
}
.mix-ratio-chart-list-100 {
    margin: 0 auto !important;
    width: 100% !important;
    margin-top: 34px !important;
}
.mix-ratio-step-header {
    padding: 16px;
    text-align: justify;
    background: #e5e7d5;
    margin: 30px 0px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    text-align: justify !important;
    color: #4f5f30 !important;
}
.mix-ratio-form-container {
    padding: 0px;
}
.mix-ratio-form-label {
    margin-bottom: 20px !important;
    text-align: justify;
    font-size: 12px;

}

/* mix seeding rate */

.mix-seeding-rate-grid-left {
    height: 150px;
    padding-top: 60px;
    border: 1px solid #C7C7C7;
    border-left: none;
    font-weight: bold;
}
.mix-seeding-rate-grid-left p {
    font-weight: bold !important;
}
.mix-seeding-rate-grid-right {
    height: 150px;
    padding-top: 30px;
    border: 1px solid #C7C7C7;
    border-right: none;
    font-weight: bold;
}

/* Seed Tag Info */

.seed-tag-info-grid-left {
    height: 80px;
    padding-top: 15px;
    font-weight: bold;
}
.seed-tag-info-grid-left p {
    font-weight: bold !important;
}
.seed-tag-info-grid-right {
    height: 80px;
    font-weight: bold;
}

/* Seeding Method */

.seeding-method-label-container {
    background: white;
    width: 150px;
    color: #4f5f30;
    padding: 9px;
    border: 2px solid #4f5f30;
    border-radius: 12px;
    height: 75px;
}
.seeding-method-detail-container {
    color: #4f5f30;
    padding: 9px;
    border: 2px solid #4f5f30;
    border-radius: 12px;
    width: 180px;
    height: 150px;
    background: none;
}
.mix-label-md {
    margin-top: 5px !important;
    margin-left: 15px !important;
    font-size: 10px !important;
}
.MuiAccordionDetails-root {
    background: #fffff2 !important;
    padding: 3% !important;
}
.text-field-100 {
    width: 100%;
}
.text-field-30 {
    width: 30%;
}
.text-field-50 {
    width: 50% !important;
}
.font-15 {
    font-size: 15px;
}
.no-display {
    opacity: 0%;
}
.math-icon {
    margin-top: 15px !important;
    font-weight: 600 !important;
}
.red-text {
color: red;
}
.vertical-slider {
    margin-top: 70px
}

/* Steps */

.steps-row-2 {
    margin-top: 20px;
}