.dst-header {
  font-size: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #4f5f30;
  font-weight: 800;
  line-height: 33.41px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}
.dst-header p {
  margin: 5px 0px;
}
.dst-header-home {
  font-size: 28px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #4f5f30;
  font-weight: 800;
  line-height: 33.41px;
  text-align: center;
  border-bottom: 1px solid #c7c7c7;
}
.dst-header-home p {
  margin: 18px 0px;
}
